
/* No List Style (For Questions/Answers)*/
ul {
    list-style-type: none;
    }

.ansBtn,
.ansBtn:active
 {
    box-shadow: none;
    outline: none;
}

/* hide sections until they are shown via the click events */
#questions,
#highscores,
#correctIncorrect,
#final
{
    display: none;  
  } 

.questions {
    margin-top: 5px;
    margin-bottom: 5px;
}

#question {
    margin-bottom: 20px;
}

body {
    background-color: antiquewhite;
}
